src/Tools/CrmSvcUtil/Model.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Model" nillable="true" type="Model" />
	<xs:complexType name="Model">
		<xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="GlobalOptionSets" type="ArrayOfGlobalOptionSet" />
			<xs:element minOccurs="0" maxOccurs="1" name="Entities" type="ArrayOfEntity" />
		</xs:sequence>
		<xs:attribute default="true" name="IncludeAllEntities" type="xs:boolean" />
        <xs:attribute default="true" name="IncludeAllGlobalOptionSets" type="xs:boolean" />
	</xs:complexType>
	<xs:complexType name="ArrayOfEntity">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="Entity" nillable="true" type="Entity" />
		</xs:sequence>
	</xs:complexType>
    <xs:complexType name="ArrayOfGlobalOptionSet">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="GlobalOptionSet" nillable="true" type="GlobalOptionSet" />
        </xs:sequence>
    </xs:complexType>
	<xs:complexType name="Entity">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="1" name="Attributes" type="ArrayOfEntityAttribute" />
		</xs:sequence>
		<xs:attribute name="Name" type="xs:string" />
		<xs:attribute name="ClassName" type="xs:string" />
		<xs:attribute default="true" name="IncludeAllAttributes" type="xs:boolean" />
	</xs:complexType>
	<xs:complexType name="ArrayOfEntityAttribute">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="Attribute" nillable="true" type="EntityAttribute" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EntityAttribute">
		<xs:attribute name="Name" type="xs:string" />
		<xs:attribute name="PropertyName" type="xs:string" />
	</xs:complexType>
    <xs:complexType name="GlobalOptionSet">
        <xs:attribute name="Name" type="xs:string" />
        <xs:attribute name="TypeName" type="xs:string" />
    </xs:complexType>
</xs:schema>
